:root{
    --colorgreen:rgb(96,192,114);
    --colorgray:rgb(112,113,112);
    --colororange:rgb(238,199,113);
    --colorwhite:#fff;
    --gradiantgreen: linear-gradient(221deg, rgba(255,255,255,1) 0%, rgba(96,192,114,1) 10%);
}
